{% extends "customer\base.html" %} {% block main %}


<div class="center-wrapper">
    <div class="login-box shadow">
        <h2>Register</h2>
        <form action="{% url 'register_process' %}" method="POST">
            {% csrf_token%}
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" required>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <button class="btn">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}